div {
    font-size: small;
}

button {
    border-radius: 5px;
    margin-right: 1px;
    margin-left: 1px;
}

#twoCats {
    width: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#thought-parent-pika {
    position: absolute;
    bottom: 100px;
    left: 113px;
    z-index: 1;
    /* border: 3px solid blue; */
    width: 200px;
}

.thought-pika {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thought-pika:before {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: 0;
    left: 0;
    box-shadow: -24px 25px 0 -18px rgb(255 255 255), -30px 34px 0 -19px rgb(255 255 255);
    z-index: 5;
    pointer-events: none;
}